html,
body {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    height: 100%;
    height: 100%;
    color: white;
    background-color: rgb(15, 15, 15);
}

body::-webkit-scrollbar {
    width: 10px;
    background-color: rgb(15, 15, 15);
}

body::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, .1);
    border-radius: 10px;
    border-right: 2px solid rgb(15, 15, 15);
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

/* CONTENEDOR GENERAL */
.aplicacion {
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: 1fr 1fr auto;
    grid-template-areas:
        "header header"
        "aside main"
        "player player";
    width: 100%;
    height: 100%;
    margin-bottom: 50px;
}

/* ASIDE */

.menu {
    grid-area: aside;
    display: flex;
    flex-direction: column;
    background-color: rgb(15, 15, 15);
    gap: 5px;
    overflow: scroll;
    position: fixed;
    width: 30%;
    height: 100%;
    padding: 5px;

}

.menu::-webkit-scrollbar {
    width: 10px;
    background-color: rgb(15, 15, 15);
}

.menu::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, .1);
    border-radius: 10px;
    border-right: 2px solid rgb(15, 15, 15);
}

.menu .inicioBuscador {
    display: grid;
    grid-template-columns: 20% 80%;
    width: 100%;
    height: 100%;
    background-color: #161515;
    border-radius: 10px;
}

.inicioBuscador>img {
    margin-left: 0px;
}

.botonesInicio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    width: 100%;
    right: 100px;
    gap: 5px;
    background-color: rgba(15, 15, 15, .2);
}

.botonesInicio>div>button {
    background-color: transparent;
    border: none;
    height: 1.5rem;
    cursor: pointer;
    color: white;
    font-size: 1rem;
    font-weight: 500;
    padding: 0;
}


.botonesInicio>button>img {
    margin-right: 5px;
    margin-top: 5px;
    margin-left: 10px;
}

.botonHome a {
    text-decoration: none;
}

.botonHome a:visited {
    text-decoration: none;
    color: white;
}

.fotoHome {
    margin-right: 15px;
}

.botonesInicio>button:hover {
    cursor: pointer;
    transform: scale(1.1);
    opacity: 0.5;
}

.barraBuscador {
    display: flex;
    justify-content: center;

}

.barraBuscador>input {
    background: transparent;
    border: 0;
    text-decoration: none;
    margin-left: 10px;
}

/* TU BIBLIOTECA */

.menu .biblioteca {
    display: flex;
    flex-direction: column;
    gap: 5px;
    color: white;
    border-radius: 10px;
    background-color: #161515;
    align-items: start;
}

.biblioteca>h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0px 15px 20px;
    font-size: 1rem;
}

.cuadrosListas {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100px;
    color: white;
    background-color: transparent;
    padding-left: 30px;
}

.cuadrosListas>span {
    display: inline-block;

}

.cuadrosListas:hover {
    opacity: 0.5;
    transform: scale(1.1);
}

.listasIndividuales {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 20px;
}

.cuadrosListas .listasIndividuales>p {
    margin: 0;
}

.espaciadoMenu {
    height: 100px;
}

/******************DIV RENDERIZADO PARA LISTAS ****************/

#renderizadoSecundario {
    display: none;
    flex-direction: column;
    height: 100%;
    background: rgba(0, 0, 0, .1);
    min-height: 75vh;
}

#renderizadoPrimario {
    display: block;
}

#divCancion {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;
}

#divSpanMasSpan {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#divCancion:hover {
    background-color: rgba(15, 15, 15, .5);
}

#spanArtista {
    font-style: italic;
    font-size: 13px;
}

#botonPlaylist {
    border: 0;
    background-color: transparent;
    cursor: pointer;
}

/******************DIV RENDERIZADO PARA ALBUNS ****************/


#botonAlbun {
    background: transparent;
    border: 0;
}


/* CONTENEDOR MAIN */

.main {
    grid-area: main;
    background: linear-gradient(0deg,
            rgba(0, 0, 0, 0.8),
            rgba(0, 0, 0, 0.8)), url(./Assets/imagencontact.jpg);
    background-size: cover;
    padding: 15px 23px;
    width: 99%;
    border-radius: 10px;
    margin: 0px 10px;
    margin-top: 4px;
}

.barraNav {
    grid-area: header;
    height: 90px;
    width: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.barraNav>div>button {
    cursor: pointer;
    border: 0;
    border-radius: 4px;
    font-weight: 600;
    padding: 10px 0;
    transition: 0.4s;
}

/*********** REGISTRO Y LOGIN **************/

.reg {
    color: white;
    background-color: #7a2fa9;
    width: 100px;
}

.reg:hover {
    color: white;
    background-color: rgba(104, 103, 103, 0.5);
}

.log {
    color: white;
    background-color: rgba(104, 103, 103, 0.1);
    width: 100px;
    margin-right: 10px;
}

.log:hover {
    background-color: #7a2fa9;
    ;
}


/*********** LOGIN **************/

#login{
    display: none;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 400px;
    width: 300px;
    background-color: rgba(49, 48, 48, 0.5);
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    border-radius: 10px;
    backdrop-filter: blur(5px);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    padding: 10px;
}

form *{
    color: #ffffff;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
}

form h3{
    font-size: 20px;
    text-align: center;
    margin-bottom: 0;
}

label{
    display: block;
    margin-top: 30px;
    font-size: 16px;
    font-weight: 500;
}

#formularioMail, #formularioPass{
    display: block;
    height: 50px;
    width: 70%;
    background-color: rgba(255,255,255,0.07);
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
}
::placeholder{
    color: #e5e5e5;
}

#botonLogin{
    margin-top: 20px;
    margin-bottom: 20px;
    height: 50px;
    width: 50%;
    background-color: #7a2fa9;
    color: #ffffff;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}

form a{
    text-decoration: none;
    font-size: 14px;
    color: #ffffff;
    font-weight: 500;
    margin-top: 5px;
}

/*********REGISTRO********/

#registro{
    display: none;
    height: 500px;
}

#formularioMailReg, #formularioPassReg{
    display: block;
    height: 50px;
    width: 70%;
    background-color: rgba(255,255,255,0.07);
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
}
::placeholder{
    color: #e5e5e5;
}

#botonRegistro{
    margin-top: 20px;
    height: 50px;
    width: 50%;
    background-color: #7a2fa9;
    color: #ffffff;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}





/**********BOTON ATRAS***********/

.atrasBut {
    background-color: transparent;
    margin-left: 0px;
}

.atrasBut>img:hover {
    background-color: rgba(104, 103, 103, 0.1);
    border-radius: 50%;
}

/***********ALBUMS ************/

.tuMusica {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 10px;
}

.tuMusica>div {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 30%;
    border-radius: 10px;
    background-color: #0F0F0F;
    gap: 10px;
    text-align: center;
}

.tuMusica>div:hover {
    cursor: pointer;
    background-color: rgba(104, 103, 103, 0.1);
}

.albumNuevo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 5px;
}

.listasRecomendadas {
    display: flex;
    flex-direction: column;
}

.segundaLinea {
    display: flex;
    flex-wrap: nowrap;
    gap: 5px;
    justify-content: space-evenly;
    align-items: center;
    max-height: 100%;
}

.segundaLinea>div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: #0F0F0F;
    height: 15rem;
    width: 12rem;
}

.segundaLinea div>span {
    text-align: center;
}

.segundaLinea>div>img {
    width: 80%;
    height: 80%;
    image-rendering: auto;
    margin-bottom: 20px;
    margin-top: 10px;
    border-radius: 5px;
}

.segundaLinea>div>span>i {
    font-size: 15px;
    color: rgb(90, 86, 86);
}

.segundaLinea>div:hover {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.botonPlayLista,
.botonPlayLista2 {
    border: 0;
    background-color: transparent;
    cursor: pointer;
}

.segundaLinea div:hover>button>img {
    width: 30px;
    height: 30px;
    -webkit-animation: scale-up-br 0.8s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    animation: scale-up-br 0.8s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@keyframes botonPlayLista2 {
    0% {
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
        -webkit-transform-origin: 100% 100%;
        transform-origin: 100% 100%;
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transform-origin: 100% 100%;
        transform-origin: 100% 100%;
    }
}

@keyframes scale-up-br {
    0% {
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
        -webkit-transform-origin: 100% 100%;
        transform-origin: 100% 100%;
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transform-origin: 100% 100%;
        transform-origin: 100% 100%;
    }
}


.segundaLinea div:hover>span {
    display: none;
}

.segundaLinea>div:hover {
    background-color: rgba(104, 103, 103, 0.1);
    cursor: pointer;
    padding: 10px;

}

/**************INPUT Y LISTA DE INPUT ******************/
#buscadorCanciones {
    color: white;
    font-weight: 600;
    border: 0;
    outline: none;
}

.renglonLista {
    text-decoration: none;
    padding: 10px;
}

.renglonLista:hover{
    background-color: rgba(15, 15, 15, .5);
}

.botonLista {
    border: 0;
    background-color: transparent;
    cursor: pointer;
    color: white;
    text-decoration: none;
    display: flex;
    justify-content: start;
    align-items: start;
}



#contenedorSpansListas {
    cursor: pointer;
    display: flex;
    flex-direction: column;
}

;


.spanCancion {
    display: block;
    font-size: 15px;
}

.spanArtista {
    display: block;
    font-style: italic;
    color: rgb(90, 86, 86);
    font-size: 13px;
}

/* PLAYER */

.player {
    grid-area: player;
    background-color: rgb(15, 15, 15);
    justify-content: space-between;
    display: block;
    width: 100%;
    position: fixed;
    bottom: 0;
    padding: 20px;
}

.contenedorReproductor {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 20px;
}

.botonesRepro {
    border-radius: 10px;
    background-color: #161515;
    display: flex;
    justify-content: center;
    align-items: center;
}

.botonesRepro>button {
    background: transparent;
    border: 0;
    gap: 1px;
}

audio {
    display: none;
}

#botonPause {
    display: none;
}

.espaciado {
    height: 100px;
}

#nombreCancionReproducida {
    width: 200px;
}

.barraVolume {
    -webkit-appearance: none;
    width: 100%;
    height: 10px;
    border-radius: 5px;
    background: #7a2fa9;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    margin-right: 10px;
}

.barraVolume:hover {
    opacity: 1;
}

.barraVolume::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #7a2fa9;
    cursor: pointer;
    box-shadow: 0px 0px 11px 8px rgba(0, 0, 0, 0.26);
    background: url(https://www.flaticon.com/svg/vstatic/svg/59/59089.svg?token=exp=1614064733~hmac=a6f0cce2214fdb52e7df9eec24006427) white;
    background-size: 85%;
    background-position: center;
    background-repeat: no-repeat;
}